.map-container {
  position: absolute;
  top: 0;
  left: 20rem;
  right: 0;
  bottom: 0;
  margin: .5rem;
}

.controls{
  display: flex;
  justify-content: space-between;
  max-height: 2.5rem;
}

.map-frame {
  border: 2px solid black;
  height: 95%;
}

#map {
  height: 100%;
}

button{
  margin-bottom: .5rem;
}

.clear-filter-button{
  width: 90%;
  margin: .5rem;
}

