
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.assets.cache
API/.vs/API/v17/.suo
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.assets.cache
API/.vs/API/v17/.suo
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.assets.cache
API/.vs/API/v17/.suo
Database/Database.dbmdl
API/obj/staticwebassets.pack.sentinel
API/obj/project.nuget.cache
API/obj/project.assets.json
API/obj/Debug/net6.0/project.razor.json
API/obj/Debug/net6.0/apphost.exe
API/obj/Debug/net6.0/API.pdb
API/obj/Debug/net6.0/API.genruntimeconfig.cache
API/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
API/obj/Debug/net6.0/API.dll
API/obj/Debug/net6.0/API.csproj.FileListAbsolute.txt
API/obj/Debug/net6.0/API.csproj.CoreCompileInputs.cache
API/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
API/obj/Debug/net6.0/API.assets.cache
API/obj/API.csproj.nuget.g.props
API/obj/API.csproj.nuget.dgspec.json
API/bin/Debug/net6.0/API.pdb
API/bin/Debug/net6.0/API.exe
API/bin/Debug/net6.0/API.dll
API/.vs/API/v17/.suo
API/.vs/API/DesignTimeBuild/.dtbcache.v2
