/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.customPopup .leaflet-popup-content-wrapper,
.customPopup .leaflet-popup-tip {
  color: rgb(45, 45, 45);
  background: #fff;
}

.leaflet-popup-tip{
  display: none;
}
