<div class="container">
  <div class="content">
    <div class="buttonSection" *ngIf="selectedCompumatIndex!==undefined">
      <button class="cmdButton" *ngFor="let cmd of commands" mat-raised-button color="primary" (click)="selectCommand(cmd.commandName)">{{cmd.commandName}}</button>
    </div>

    <div class="formSection" *ngIf="selectedCommandIndex!==undefined">
      <form class="form">
        <mat-form-field class="formField" *ngFor="let arg of commands[selectedCommandIndex].arguments;let i = index" class="example-full-width" appearance="fill">
          <mat-label>{{arg.argName}}</mat-label>
          <div *ngIf="arg.validArgs==null">
            <input matInput ngControl="input" #input placeholder="{{arg.argPlaceholder}}" [type]="arg.argType" [min]="arg.minArg" [max]="arg.maxArg" [required]="arg.required" (change)="checkValidInput(i, input.value)">
            <!-- [formControl]="validators['Print Receipt'].validators[i]" -->
          </div>
          <div>
            <mat-select ngControl="select" #select *ngIf="arg.validArgs!=null" [placeholder]="arg.argPlaceholder" [required]="arg.required" (selectionChange)="checkValidInput(i, select.value)">
              <mat-option *ngFor="let validArg of arg.validArgs" [value]="validArg">{{validArg}}</mat-option>
            </mat-select>
          </div>
        </mat-form-field>
        <p style="color: red"> {{ '* = Required' }}</p>
      </form>
    </div>
  </div>

  <!-- <div class="actionButton">
    <button mat-raised-button color="primary">Cancel</button>
    <div class="runButton">
    <button mat-raised-button color="primary">Run</button>
  </div>
  </div> -->
</div>





<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="name" placeholder="Name">
  <br>

  <button type='submit'>Submit</button>
  <br><br>
</form> -->













<!-- <input *ngIf="args.validArgs" matInput [placeholder]="args.argPlaceholder" [type]="args.argType">
<input *ngIf="args.minArg || args.maxArg" matInput [placeholder]="args.argPlaceholder" [type]="args.argType" [min]="args.minArg" [max]="args.maxArg"> -->

  <!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{commands[0].PrintReceipt.cmds[0].args[0].argName}}</mat-label>
    <input matInput placeholder="Ex. Pizza" [value]="compumat.data.id">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{commands[0].PrintReceipt.cmds[0].args[1].argName}}</mat-label>
    <input matInput placeholder="Ex. 1562d" value= "">
  </mat-form-field> -->
